body {
    background-color: gray;
}
body h1{
    color: blue;
}

@media (max-width: 680px) {
    body {
        background-color: black;
        min-height: 100vh;
        text-align: center;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
    body h1{
        font-size: 18px;
        color: white;
    }
}