body {
    background-color: gray;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}
body h1{
    color: blue;
}

@media (max-width: 680px) {
    body {
        background-color: black;
    }
    body h1{
        font-size: 18px;
        color: white;
    }
}